@media all and (max-width: 480px){
    .bottomTxt{
        bottom: inherit!important;
        top: 230px;
        width: -webkit-fill-available;
        padding-left: 2%;
        background-color: #212529;
        padding-bottom: 1%;
        padding-top: 1%;
    }
    #pi {
        display: block!important;
        border-radius: 50%;
        padding: 20px;
        box-shadow: 0 0 30px 10px #fff;
        position: -webkit-sticky;
        position: sticky;
        bottom: 40px;
    }
}

#pi{display:none;}